body {
  background-color: #F7F5F5;
}

.canvas-container {
  margin-top: 50px;
  position: relative;
  padding-top: 510px;
  margin-left: 25%;
}

.canvas {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

.canvas:hover {
  cursor: crosshair;
}

#canvas {
  z-index: 100;
  background-color: transparent;
}

form div {
  display: inline;
  margin: 10px;
}