body {
  background-color: #F7F5F5;
}

#canvas-container {
  margin-top: 50px;
  position: relative;
  margin-left: 25%;
}

.canvas {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

.canvas:hover {
  cursor: crosshair;
}

.showTrajectory #canvas {
  background-color: transparent;
}

.hideTrajectory #canvasBg {
  display: none;
}

#canvas {
  z-index: 100;
}

form {
  padding-top: 510px;
}

form div {
  display: inline;
  margin: 10px;
}

.showWalls {
  border: 2px solid black;
}

.hideWalls {
  border-bottom: 2px solid black;
}