body {
  background-color: #F7F5F5;
}

.canvas-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#canvas {
  background-color: #fff;
  border-radius: 5px;
}

#canvas:hover {
  cursor: crosshair;
}

form div {
  display: inline;
  margin: 10px;
}